<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TeamTalk Server File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.math65.ttaccessible.teamtalk-file</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TeamTalk Server File</string>
			<key>UTTypeIdentifier</key>
			<string>com.math65.ttaccessible.teamtalk-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tt</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-teamtalk</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>TeamTalk Server Link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tt</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>tt-Accessible</string>
	<key>CFBundleDisplayName</key>
	<string>tt-Accessible</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSAppleEventsUsageDescription</key>
	<string>tt-Accessible can optionally control VoiceOver to read incoming messages while the app is in the background.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>tt-Accessible uses the microphone to talk in TeamTalk channels.</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>tt-Accessible can capture audio from other applications to stream it to TeamTalk channels.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>tt-Accessible can capture audio from specific applications to stream it to TeamTalk channels.</string>
	<key>SUFeedURL</key>
	<string>https://math65.github.io/ttaccessible/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>DSDUNhrNE0tBI9oT++xFgxQW4Hs6/8SyiNNDTXfj/to=</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
